#rum-post-cta-box {
    min-height: 125px;
    }
.rum-post-cta-image {
    float: left;
    margin: 15px;
    max-width: 150px;
    }
.rum-post-cta-text h2 {
    margin-top: 20px;
    text-align: center;
    }
.rum-post-cta-button {
    margin-top: 15px;
    text-align: center;
    }