.rum-post-cta-box {
    background: #bbbbbb;
    border: 3px solid #000000;
}

.rum-post-cta-text {
    color: #232323;
    font-size: 1.2em;
}

.rum-post-cta-button {
    background: #ff853c;
}

.rum-post-cta-button-text {
    color: #232323;
    font-weight: 300;
}